<nav class="navbar navcolor">
  <div class="nav-brand">
    <h1 class="icolor">La bodega de Moshé</h1>
  </div>
  <div>
    <ul class="nav">
      <li class="nav-item">
        <a [routerLink]="['/tienda']" class="nav-link active">
          <i class="fas fa-th icolor"></i>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/kart']" class="nav-link active">
          <i class="fas fa-shopping-cart icolor">
            <span class="badge badge-pill badge-danger">1</span>
          </i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active">
          <i class="fas fa-heart icolor"> </i>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="onLogout()" class="nav-link active">
          <i class="fas fa-sign-out-alt icolor"> </i>
        </a>
      </li>
    </ul>
  </div>
</nav>
