<div class="container-fluid navcolor" style="margin-top: 1%;">
  <div class="row icolor text-center" style="height: 10vh; padding: 2%;">
    <h2>Carrito de compras</h2>
  </div>
  <div class="row catscroll">
    <div class="catscroll col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-4">
              <img class="img-fluid" src="./assets/img/palta.jpg" alt="" />
            </div>
            <div class="col-4">
              <div class="font-size">
                <span style="font-size: 1.2rem;"> <strong> Palta</strong></span>
                <br />
                <span>Unidades: </span>
              </div>
            </div>
          </div>
          <div class="row font-size">
            <span><strong>Subtotal: S/.</strong></span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-4">
              <img class="img-fluid" src="./assets/img/ajo.jpg" alt="" />
            </div>
            <div class="col-4">
              <div class="font-size">
                <span style="font-size: 1.2rem;"> <strong> Ajo</strong></span>
                <br />
                <span>Unidades: </span>
              </div>
            </div>
          </div>
          <div class="row font-size">
            <span><strong>Subtotal: S/.</strong></span>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <h2><strong>Total: S/. </strong></h2>
      <br /><br />
    </div>
  </div>
</div>
