<div class="container-fluid navcolor" style="margin-top: 1%;">
  <div class="row icolor text-center" style="height: 10vh; padding: 2%;">
    <h2>Palta</h2>
  </div>
  <div *ngFor="let producto of productos" class="row catscroll">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="row">
        <div class="col-12">
          <img
            class="img-fluid"
            src=" {{ producto.imagen }}  "
            alt="palta"
            style="border-radius: 10px;"
          />
        </div>
        <div class="col-12" style="margin-top: 5%; margin-bottom: 5%;">
          <button [routerLink]="['/tienda']" class="btn btn-primary">
            Atrás
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <span
        ><strong>Precio: {{ producto.precio }} </strong></span
      ><br /><br />
      <span
        ><strong>Cantidad disponible:{{ producto.cantidad }} </strong></span
      ><br /><br />
      <span
        ><strong>Descripción: {{ producto.descripcion }} </strong></span
      ><br /><br />
    </div>
  </div>
</div>
